/**
 * Reset some basic elements
 */
body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

html{
	height: 100%;
}

/**
 * Basic styling
 */
/* body{
    font: 400 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: 'kern' 1;
       -moz-font-feature-settings: 'kern' 1;
         -o-font-feature-settings: 'kern' 1;
            font-feature-settings: 'kern' 1;
    font-kerning: normal;
} */

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,.highlight{
    margin-bottom: 15px;
}

body{
    font-size: 16px;
    height: 100%;
    position: relative;
    font-family: Georgia,serif;
}
p {
    line-height: 24px;
}
/**
 * Images
 */
img{
    max-width: 100%;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    /* border: 2px solid #eee; */
}

/**
 * Figures
 */
figure > img{
    display: block;
}

figcaption{
    font-size: 12px;
    text-align: center;
}

/**
 * Lists
 */
ul{
    list-style-type: none;
}

li > ul,
li > ol{
    margin-bottom: 0;
}

/**
 * Headings
 */
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

/**
 * Links
 */
a:hover{
    text-decoration: none;
}

.post-content > p > a::before, .post-content > p > a::after{
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    font-size: 130%;
    font-weight: 100;
    line-height: 1;
}
.post-content > p > a::before{
    content: '[';
    transform: translateX(-200%);
}
.post-content > p > a::after{
    content: ']';
    transform: translateX(100%);
}
.post-content > p > a:hover::before{
    opacity: 1;
    transform: translateX(-100%);
}
.post-content > p > a:hover::after{
    opacity: 1;
    transform: translateX(0);
}
.post-content > p > a:hover{
    color: #d04c3f;
}

/**
 * Blockquotes
 */
blockquote{
    font-size: 18px;
    font-style: italic;
    padding-left: 15px;
    letter-spacing: -1px;
    color: #828282;
    border-left: 4px solid #e8e8e8;
}
blockquote > :last-child{
    margin-bottom: 0;
}

/**
 * Wrapper
 */
.wrapper{
    max-width: -webkit-calc(800px - (30px * 2));
    max-width:         calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    font-family: Georgia,serif;
}
@media screen and (max-width: 800px){
    .wrapper{
        max-width: -webkit-calc(800px - (30px));
        max-width:         calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}

/**
 * Clearfix
 */
.wrapper:after,
.footer-col-wrapper:after{
    display: table;
    clear: both;
    content: '';
}

/**
 * Icons
 */
.icon > svg{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.icon > svg path{
    fill: #828282;
}

/**
 * Site header
 */
.header-list {
    padding: 10px 0;
}

.header-list li{
    padding: 5px 19px;
    list-style-type: none;
    font-family: 'Source Sans Pro','Helvetica Neue',Arial,sans-serif;
    color: #50585D;
    font-size: 14px;
}

.header-list li a {
    color: #50585D;
}
.site-header{
    min-height: 56px;
    border-bottom: 1px solid #e8e8e8;
}

.site-title{
}
.site-title,
.site-title:visited{
    color: #424242;
}
.site-nav{
    line-height: 56px;
    float: right;
    position: relative;
}
.site-nav-right{
    float: right;
    margin-right: 10px;
}
.site-nav .menu-icon{
    display: none;
}
.site-nav .page-link{
    line-height: 1.5;
    color: #111;
}
.site-nav .page-link:not(:last-child){
    margin-right: 20px;
}
.site-nav .trigger{
	display:inline-block;
	margin-right: 20px;
}

.home {
    padding-top: 70px;
}

/**
 * Site footer
 */
.site-footer{
    padding: 30px 0;
    border-top: 1px solid #e8e8e8;
}

.footer-heading{
    font-size: 18px;
    margin-bottom: 15px;
}

.contact-list,
.social-media-list{
    margin-left: 0;
    list-style: none;
}

.footer-col-wrapper{
    text-align: center;
    font-size: 15px;
    color: #828282;
}

.footer-col{
    margin-bottom: 15px;
    padding-left: 15px;
}

.footer-col-1{
    width: -webkit-calc(35% - (30px / 2));
    width:         calc(35% - (30px / 2));
}

.footer-col-2{
    width: -webkit-calc(20% - (30px / 2));
    width:         calc(20% - (30px / 2));
}

.footer-col-3{
    width: -webkit-calc(45% - (30px / 2));
    width:         calc(45% - (30px / 2));
}

@media screen and (max-width: 800px){
    .footer-col-1,
    .footer-col-2{
        width: -webkit-calc(50% - (30px / 2));
        width:         calc(50% - (30px / 2));
    }

.footer-col-3{
        width: -webkit-calc(100% - (30px / 2));
        width:         calc(100% - (30px / 2));
    }
}
@media screen and (max-width: 600px){
    .footer-col{
        float: none;
        width: -webkit-calc(100% - (30px / 2));
        width:         calc(100% - (30px / 2));
    }
}
/**
 * Page content
 */
.page-content{
    margin-bottom: 50px;
}

.page-heading{
    font-size: 20px;
}

.post-list{
    margin-left: 0;
    list-style: none;
}
.post-list > li{
    margin-bottom: 50px;
    border-bottom: #ebf2f6 1px solid;
    padding-bottom: 34px;
}
.post-list > li:after{
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #e7eef2 1px solid;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    background: #fff;
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;
    margin-top: 31px;
}

.tag-post-list > li{
    margin-bottom: 20px;
    border-bottom: #ebf2f6 1px solid;
}

.tag-post-list > li:after{
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #e7eef2 1px solid;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    background: #fff;
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;
    margin-top: -3px;
}

.post-meta{
    font-size: 14px;
    color: #828282;
    display: inline-block;
    margin-bottom: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.readmore-p{
    text-align: right;
}

.post-link{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STKaiti,"Droid Sans Fallback",SimSun,serif;
    font-size: 27px;
    color: #50585D;
    margin-bottom: .51em;
}
a.post-link:hover{
    color: #50585D;
}

/**
 * Posts
 */
.post-header{
    margin-bottom: 5px;
}

.post-title{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STKaiti,"Droid Sans Fallback",SimSun,serif;
    font-size: 27px;
    color: #50585D;
    margin-bottom: 15px;
    text-indent: -3px;
}
@media screen and (max-width: 800px){
    .post-title{
        font-size: 36px;
    }
}

.post-content{
    margin-bottom: 30px;
}
.post-content h2{
    font-size: 32px;
}
@media screen and (max-width: 800px){
    .post-content h2{
        font-size: 28px;
    }
}
.post-content h3{
    font-size: 26px;
}
@media screen and (max-width: 800px){
    .post-content h3{
        font-size: 22px;
    }
}
.post-content h4{
    font-size: 20px;
}
@media screen and (max-width: 800px){
    .post-content h4{
        font-size: 18px;
    }
}

.right-sidebar{
    margin-right: 30px;
    margin-top: 50px;
    font-size: 14px;
}

.left-sidebar{
    position: fixed;
	z-index: 999;
}

.to-top-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s;
}

.to-top-arrow {
    opacity: 1;
    transform: scale(1);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.15, 1.99);
}

.icon {
    font-size: 25px;
    line-height: 50px;
    width: 100%;
    text-align: center;
}

a.to-top:link {
color: #f1f1f1;
text-decoration: none;
}
a.to-top:visited {
color: #f1f1f1;
text-decoration: none;
}
a.to-top:hover {
color: #f1f1f1; 
text-decoration: none;
}

.article-music {
    right: 0;
    position: absolute;
    height: 158px;
    width: 235px;
    top: 259px;
}

.page-link {
    display: inline-block;
    color: #337ab7;
}

.tag-li-span{
    float:right;
}

/*判断是否是移动设备*/

.judge-mobile-device{
    display: none;
}

.mobile-device-reminder{
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    padding-top: 50%;
    text-align: center;
    position: absolute;
}

/* readmore-button */

.button-readmore{
    color: #5bc0de;
	border: 1px solid #46b8da;
    background: none;
    padding: 6px 7px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
}

.button-readmore::before{
    content: '';
    position: absolute;
    background: #5bc0de;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transform: scale3d(0.7, 1, 1);
    transition: transform 0.4s, opacity 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-readmore:hover{
    color: #ffffff;
    border-color: #46b8da;
	overflow: visible;
}

.button-readmore:hover::before{
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.text-center{
	text-align: center;
	font-family: "Roboto", sans-serif;
}