---
layout: default
---

<div class="home">
	<!-- 文章列表，paginator.posts是每一个分页的文章 -->
	<ul class="post-list">
	{% for post in paginator.posts %}
		<li>
			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
			{% if post.content contains '<!-- more -->' %}
				{{ post.content | split:'<!-- more -->' | first %}}
				<p class="readmore-p"><a class="button-readmore waves-effect waves-light" href="{{ post.url }}">Read more</a></p>
			{% else %}
				{{ post.content }}
			{% endif %}
		</li>
	{% endfor %}
	</ul>
	
	<!-- 分页链接 -->
	<div class="text-center">
		<ul class="pagination">

	        {% if paginator.page == 1 %}
            <li class="disabled"><a href="javascript:;"><i class="material-icons">chevron_left</i></a></li>
	        {% else %}
	            {% if paginator.previous_page == 1 %}
            <li class="waves-effect"><a href="/"><i class="material-icons">chevron_left</i></a></li>
	            {% else %}
            <li class="waves-effect"><a hhref="/page{{ paginator.previous_page }}"><i class="material-icons">chevron_left</i></a></li>
	            {% endif %}
	        {% endif %}

	        {% for i in (1..paginator.total_pages) limit:9 offset:{{paginator.page-1}} %}
	            {% if paginator.page == i %}
	        <li class="active">
	            {% else %}
	        <li class="waves-effect">
	            {% endif %}
	            {% if i == 1 %}
	            <a href="/">{{i}}</a>
	            {% else %}
	            <a href="/page{{i}}">{{i}}</a>
	            {% endif %}
	        </li>
	        {% endfor %}

            {% if paginator.page == paginator.total_pages %}
            <li class="disabled"><a href="javascript:;"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
            <li class="waves-effect"><a href="/page{{ paginator.next_page }}"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}

		</ul>
	</div>
</div>
