{% if page.title %}
<!--分享组件-->

<div class="wrapper" style="margin-bottom: 16px;">
    <span>分享至：</span>
    <div class="social-share" style="display: inline-block;"></div>
</div>

{% endif %}
{% if page.title %}
<!-- 多说评论框 -->
<div class="ds-thread wrapper" data-thread-key="{{ page.id }}" data-title="{{ page.title }}"
     data-url="{{site.url}}{{ page.url }}"></div>
<!-- 多说评论框 -->
<!-- 多说JS代码 -->
<script type="text/javascript">
    var duoshuoQuery = {short_name: "puronglong"};
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说JS代码 -->
{% endif %}

<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div>
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        {% include icon-github.html username=site.github_username %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src='{{site.url}}js/jquery.min.js'></script>
<script type="text/javascript" src='{{site.url}}js/materialize.min.js'></script>
<script type="text/javascript" src='{{site.url}}js/jquery.share.min.js'></script>
<script type="text/javascript" src='{{site.url}}js/index.js'></script>

<script type="text/javascript">

    //判断是否移动设备
    var ua = window.navigator.userAgent;
    if (ua.indexOf('Android') !== -1 || ua.indexOf('iPhone') !== -1 || ua.indexOf('iPad') !== -1) {//如果不为-1，则存在
        console.log('this device is mobile!');
        $('.judge-mobile-device').addClass('mobile-device-reminder');
        $('body').on('touchstart', function (ev) {
            ev.preventDefault();
        });
    }

    // 浏览器窗口特性和控制台输出字符
    var a = "\n                                   _                                         \n _ __  _   _ _ __ ___  _ __   __ _| | ___  _ __   __ _   ___  __ _ _   _   _ \n| '_ \\| | | | '__/ _ \\| '_ \\ / _` | |/ _ \\| '_ \\ / _` | / __|/ _` | | | | (_)\n| |_) | |_| | | | (_) | | | | (_| | | (_) | | | | (_| | \\__ \\ (_| | |_| |  _ \n| .__/ \\__,_|_|  \\___/|_| |_|\\__, |_|\\___/|_| |_|\\__, | |___/\\__,_|\\__, | (_)\n|_|                          |___/               |___/             |___/     \n          _                                                                  \n  /\\  /\\ (_)                                                                 \n / /_/ / | |                                                                 \n/ __  /  | |                                                                 \n\\/ /_/   |_|            😃";
    console.info(a);

    document.addEventListener('visibilitychange', function () {
        document.title = document.hidden ? '崩溃了，来看一下' : '😃小龙龙的个人博客~';
    });

    //返回顶部
    var offsetTop = 300;
    var to_top_arrow = $('.to-top-button');
    $(window).scroll(function () {
        ($(this).scrollTop() > offsetTop) ? to_top_arrow.addClass('to-top-arrow') : to_top_arrow.removeClass('to-top-arrow');
    });

    to_top_arrow.on('click', function (event) {
        event.preventDefault();
        $('body,html').animate({
            scrollTop: 0
        });
    });
</script>
<!-- 友盟统计 -->
<!-- <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1259896904'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1259896904' type='text/javascript'%3E%3C/script%3E"));</script> -->

