<footer class="site-footer">
	<div class="wrapper">
		<div class="footer-col-wrapper">
			<div>
				<ul class="social-media-list">
					{% if site.github_username %}
					<li>
						{% include icon-github.html username=site.github_username %}
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src='js/jquery.min.js'></script>
<script type="text/javascript" src='js/materialize.min.js'></script>

<script type="text/javascript">

    // 浏览器窗口特性和控制台输出字符
	var a = "\n                                   _                                         \n _ __  _   _ _ __ ___  _ __   __ _| | ___  _ __   __ _   ___  __ _ _   _   _ \n| '_ \\| | | | '__/ _ \\| '_ \\ / _` | |/ _ \\| '_ \\ / _` | / __|/ _` | | | | (_)\n| |_) | |_| | | | (_) | | | | (_| | | (_) | | | | (_| | \\__ \\ (_| | |_| |  _ \n| .__/ \\__,_|_|  \\___/|_| |_|\\__, |_|\\___/|_| |_|\\__, | |___/\\__,_|\\__, | (_)\n|_|                          |___/               |___/             |___/     \n          _                                                                  \n  /\\  /\\ (_)                                                                 \n / /_/ / | |                                                                 \n/ __  /  | |                                                                 \n\\/ /_/   |_|            😃";
    console.info(a);

	document.addEventListener('visibilitychange', function() {
                document.title = document.hidden ? '崩溃了，来看一下':'小龙龙的个人博客~'
            });

	//返回顶部
	var offsetTop = 300;
	var to_top_arrow = $('.to-top-button');
	$(window).scroll(function(){
		($(this).scrollTop() > offsetTop) ? to_top_arrow.addClass('to-top-arrow') : to_top_arrow.removeClass('to-top-arrow');
	});

	to_top_arrow.on('click', function(event){
		event.preventDefault();
		$('body,html').animate({
			scrollTop: 0
		});
	});

	//判断是否移动设备
	var ua = window.navigator.userAgent;
	if(ua.indexOf('Android') !== -1 || ua.indexOf('iPhone') !== -1 || ua.indexOf('iPad') !== -1){//如果不为-1，则存在
		console.log('this device is mobile!');
		$('.judge-mobile-device').addClass('mobile-device-reminder');
		$('body').on('touchstart', function(ev){
        ev.preventDefault();
    });
	}
</script>
<!-- 友盟统计 -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1259896904'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1259896904' type='text/javascript'%3E%3C/script%3E"));</script>